## MESH-COMPOSITE
#logs
**/log
**/polyMesh
**/include
!mesh-composite/mesh/include
#mesh-composite/blade0/log
#mesh-composite/blade1/log
#mesh-composite/blade2/log
#mesh-composite/steady/log
#mesh-composite/main/log
#mesh-composite/circle-ext/log
#meshes
# mesh-composite/blade0/constant/polyMesh
# mesh-composite/blade1/constant/polyMesh
# mesh-composite/blade2/constant/polyMesh
# mesh-composite/steady/constant/polyMesh
# mesh-composite/main/constant/polyMesh
# mesh-composite/circle-ext/constant/polyMesh
#stl files
mesh-composite/mesh/blade0/constant/triSurface/*.stl
mesh-composite/mesh/blade1/constant/triSurface/*.stl
mesh-composite/mesh/blade2/constant/triSurface/*.stl
mesh-composite/mesh/steady/constant/triSurface/*.stl
mesh-composite/main/constant/triSurface/*.stl
mesh-composite/circle-ext/constant/triSurface/*.stl
#
*.stl
!CAD/*.stl
mesh-composite/mesh-sensitivity/mesh-*
!mesh-composite/mesh-sensitivity/Mymesh*
!mesh-composite/mesh-sensitivity/*.ods
#
mesh-composite/mesh-sensitivity-pimple/mesh-pimple-*
!mesh-composite/mesh-sensitivity-pimple/Mymesh*
!mesh-composite/mesh-sensitivity-pimple/*.ods
!mesh-composite/mesh-sensitivity-pimple/power
!mesh-composite/mesh-sensitivity-pimple/runcase
#
mesh-composite/piso-pimple/pimple*
mesh-composite/piso-pimple/piso*
!mesh-composite/piso-pimple/My*
!mesh-composite/piso-pimple/*.ods
!mesh-composite/piso-pimple/runcase
#
mesh-composite/better-mesh/mesh*
mesh-composite/map-fields/mesh*
#
mesh-composite/blade-speed-ratio/bsr-*
!mesh-composite/blade-speed-ratio/My*
!mesh-composite/blade-speed-ratio/*.ods
!mesh-composite/blade-speed-ratio/runcase
#
mesh-composite/mesh-sensitivity-piso20/mesh-*
!mesh-composite/mesh-sensitivity-piso20/My*
!mesh-composite/mesh-sensitivity-piso20/runcase
mesh-composite/testpout
mesh-composite/no-gravity/mesh*
!mesh-composite/no-gravity/My*
mesh-composite/turbolent-intensity/mesh*
mesh-composite/turbolent-intensity/turb*
!mesh-composite/turbolent-intensity/My*
!mesh-composite/turbolent-intensity/runcase
# maybe add also files that contains old in the name
## MESH
# mesh/constant/polyMesh
#mesh/log
mesh/constant/triSurface/*.stl
## CAD FILES
CAD-scaled
*.pdf
*.foam
*.png
**/postProcessing
**/fig
log.*
#times
[0-9]*
!0.org-kepsilon
!0.org-komegasst
**/tests
latex/*.log
latex/*.idx
latex/*.idx
latex/*.dvi
latex/*.aux
latex/*.toc
latex/*.gz
!latex/images/*.png
!*.ods

