## MESH-COMPOSITE
#logs
**/log
**/polyMesh
**/include
!mesh-composite/include
#mesh-composite/blade0/log
#mesh-composite/blade1/log
#mesh-composite/blade2/log
#mesh-composite/steady/log
#mesh-composite/main/log
#mesh-composite/circle-ext/log
#meshes
# mesh-composite/blade0/constant/polyMesh
# mesh-composite/blade1/constant/polyMesh
# mesh-composite/blade2/constant/polyMesh
# mesh-composite/steady/constant/polyMesh
# mesh-composite/main/constant/polyMesh
# mesh-composite/circle-ext/constant/polyMesh
#stl files
mesh-composite/blade0/constant/triSurface/*.stl
mesh-composite/blade1/constant/triSurface/*.stl
mesh-composite/blade2/constant/triSurface/*.stl
mesh-composite/steady/constant/triSurface/*.stl
mesh-composite/main/constant/triSurface/*.stl
mesh-composite/circle-ext/constant/triSurface/*.stl
# maybe add also files that contains old in the name
## MESH
# mesh/constant/polyMesh
#mesh/log
mesh/constant/triSurface/*.stl
## CAD FILES
CAD-scaled
*.pdf
*.foam
#times
[0-9]*
!0.org
